* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


header nav a img {
  width: 300px;
  height: 100px;
}

header nav {
  background-color: rgba(238, 197, 15, 0.966);
}

header nav button.btn {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white
}
h1{
  font-size: x-large;
}

.navbar-brand{
  font-size: 30px;
  margin: 10px;
}

a.navbar-brand h1 {
  font-size: 50px;
  padding: 20px;
}

.portada {
  background-image: url(../img/h2.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;

}

.titulo {
  text-align: center;
  color: white;
  padding: 15px;
  background-color: rgb(238, 197, 15);

}

.titulo p {
  font-size: 40px;
  font-weight: 500px;
}

.card {
  margin: 20px;
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  
}

.card-title {
  color: #343a40;
}

.card-text {
  color: #000000;

}

.cardCarrito {
  margin: 15px 0px;
  text-align: center;
  display: flex;
}

/*   .btn {
  background-color: #ffc107;
  color: #ffffff;
  width: 100%;
  transition: 1s;
} */
.btn-agregar-carrito{
  background-color: #ffc107;
  color: #ffffff;
  width: 100%;
  transition: 1s;
}
.btn:hover{
  transform: scale(1.1);
  color: #ffffff;
}
.btn-secondary {
  background-color: #ffc107;
  border-radius: solid, 1px, #ffff;
}
.btn-secondary.bnt{
  border-radius: solid, 1px, #ffff;
}
/*---------------------------FORMULARIO-------------------*/

.container {
  margin-top: 20px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #343a40;
  display: block;
  margin-right: 15vw;
  text-align: center;
}

.form-control {
  border-color: #ffc107;
  color: #343a40;
}


@media screen and (max-width: 980px){
  .cardCarrito{
    flex-direction: column;
  }
  .row{
    justify-content: center;
    align-items: center;
  }
}

  
@media screen and (max-width: 500px){
  a.navbar-brand h1 {
    font-size: 30px;  
  
  }
  .row{
    justify-content: center;
    align-items: center;
  }
  
}

  